//this is the white button and its animation
.btn {

    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 10rem;
        transition: all 0.2s;
        position: relative;
    }

    &:hover {
        transform: translateY(-0.2rem);
        box-shadow: 0 0.4rem 1rem #111;
    }

    &:active {
        transform: translateY(-0.1rem);
        box-shadow: 0 0.2rem 1rem #111;
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
    }

    &:hover::after {
        background-color: #fff;
        opacity: 0;
        transform: scale(2);
    }

    &-animations {
        animation-name: buttonMoveToTop;
        animation-delay: 0.3s;
        animation-duration: 1.3s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: backwards;

    }

}

//btn animation

//btn white 
.btn-white {
    color: #777;
    background-color: #fff;

    &::after {
        background-color: #fff;
    }
}

//btn white ends
.btn-text{
    &:link,
    &:visited{
        font-size:1.6rem;
        font-weight: 400;
        color:$color-primary;
        display:inline-block;
        text-decoration:none;
        border-bottom:1px solid $color-primary;
        padding:8px 12px;
        // outline:none;
    }
    &:hover{
        background-image:linear-gradient(to left,$color-primary,$color-primary-dark);
        color:#fff;
        box-shadow:inset 2px -2px 4px #1e4b2d,inset -2px 3px 4px #00ff55,inset 2px -4px 4px #008f30, 3px 4px 9px rgb(2, 78, 19);
        transform:translateY(-2px);
        transition-duration:400ms;
        transition-timing-function: linear;
        transition-property: box-shadow transform;
    }
    &:active{
        background-image:linear-gradient(to left,$color-primary,$color-primary-dark);
        color:#fff;
        box-shadow:inset 2px -2px 4px #1e4b2d,inset -2px 3px 4px #00ff55,inset 2px -4px 4px #008f30, 2px 2px 4px rgb(2, 78, 19);
        transform:translateY(-1px);
        transition-duration:200ms;
        transition-timing-function: linear;
        transition-property: box-shadow transform;
    }
}