.section-about {
    background-color: $grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;
}

.heading-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $lightGreen, $darkGreen);
    -webkit-background-clip: text;
    color: transparent;
    transition-delay: 20ms;
    transition-timing-function: linear;
    transition-duration: 200ms;

    &:hover {
        transform: translateY(0.1rem);
        transform: skewY(2deg) skewX(12deg) scale(1.2);
        text-shadow: .5rem 1rem 2rem #ccc;
    }
}

.section-features{
    padding:20rem 0;
    background-image: linear-gradient(to bottom right, rgba($lightGreen, 0.8), rgba($darkGreen, 0.8)), url(../img/nat-4.jpg);
    background-size:cover;
    transform: skewY(-7deg);
    margin-top: -10rem;

    & > * {
        transform: skewY(7deg);
    }
}

.section-tours{
    background-color: $grey-light-1;
    padding: 25rem 0 50rem 0;
    margin-top: -10rem;
}