*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    /*    font-size: 10px; this may create a problem for the people that have problem seeing what is on the screen */
    font-size: 62.5%;
    /*this is 1opx which is 62.5% of 16px this considered best practice.*/
}

body {

    box-sizing: border-box;
}
